.advantages {
  background-color: @white;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__wrapper-1,
.advantages__wrapper-2 {
  background-color: @blue;
  color: @white;
}

.advantages__second-list {
  list-style-type: none;
  background-color: @white;
  color: @grey;
}

.advantages__wrapper-3,
.advantages__wrapper-4,
.advantages__wrapper-5 {
  background-color: #eeeeee;
}

.advantages__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__desc,
.advantages__number {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
