.button {
  border: none;
  background-color: @blue;
  color: @white;
  box-sizing: border-box;
  cursor: pointer;
  padding: 18px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
