.catalog-main-logo {
  background-image: url("../img/second-logo-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: @blue;
  padding: 52px 46px 67px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/second-logo-background@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/second-logo-background-tablet.png");
    padding: 95px 157px 118px;
    background-position: 50% -50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/second-logo-background-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/second-logo-background-desktop.png");
    padding: 101px 370px 120px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/second-logo-background-desktop@2x.png");
    }
  }
}
