.catalog-main-logo {
  background-image: url("../../img/catalog-logo-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: @blue;
}
