.form-main-logo {
  background-image: url("../../img/second-logo-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: @blue;
  padding: 52px 19px 67px;
}
