.main-logo {
  background-image: url("../img/slogan-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: @blue;
  padding: 90px 19px 85px;
}
