.main-footer {
  background-color: @white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  min-height: 233px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    padding: 0 120px;
  }
}

.main-footer__hashtag {
  margin-top: 29px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}

.main_footer__social {
  list-style-type: none;
}

.copyright__link {
  text-decoration: none;
  display: block;
  color: @black;
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
  }
}

.copyright__link:hover {
  color: @blue;
}

.copyright__link:active {
  color: @gray-copyright;
}

.copyright__icon {
  vertical-align: middle;
  margin-left: 12px;

  @media (min-width: @tablet-width) {
    margin-left: 8px;
  }
}
