.modal-review-success {
  background-color: @white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  margin: auto;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    width: 640px;
  }
}

.modal-container-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 402px;
}

.modal-container-success--close {
  display: none;
}

.modal-review-success__text {
  padding: 39px 38px 30px;

  @media (min-width: @tablet-width) {
    padding: 57px 98px 29px;
  }
}

.modal-review-success__title {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-bottom: 25px;
    font-size: 30px;
  }
}

.modal-review-success__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
  }
}

.modal-review-success__button-wrapper {
  padding: 20px 0;
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    padding: 44px 91px;
  }
}

.modal-review-success__button {
  width: 280px;
  padding: 18px 61px 14px;

  @media (min-width: @tablet-width) {
    width: 458px;
    padding: 18px 14px 14px;
  }
}
