.photo-cards {
  background-color: @white;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.photo-cards__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: @tablet-width) {
  .photo-cards__item:first-child {
    grid-column: 1 / -1;
  }
}

.photo-cards__item {
  padding-top: 24px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: @light-gray-5;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}
