.review-form {
  background-color: @white;
  text-align: left;
  padding: 0 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 23px 60px 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 120px;
  }
}

.review-form__group {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.review-form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 16px;
}

.review-form__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 22px 0 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 28px;
    font-size: 21px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
    font-size: 21px;
  }
}

.review-form__input {
  margin-bottom: 16px;

  &::placeholder {
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    color: @black;
  }

  @media (min-width: @desktop-width) {
    width: 402px;
  }
}

.review-form__name {
  margin-bottom: 25px;
  position: relative;

  @media (max-width: @mobile-width-only) {
    &-legend {
      &::before {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: -92px;
        width: 320px;
        height: 1px;
        background-color: @light-gray-5;
      }
    }
  }

  @media (min-width: @tablet-width) {
    &::after {
      position: absolute;
      content: "";
      display: block;
      top: -55px;
      right: 0;
      width: 1px;
      height: 338px;
      background-color: @light-gray-6;

      @media (min-width: @desktop-width) {
        right: -14px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    &-legend {
      padding-left: 10px;
    }

    & .review-form__input {
      width: 430px;
    }
  }
}

.review-form__contacts {
  position: relative;

  & input::placeholder {
    opacity: 0.3;
  }

  @media (max-width: @mobile-width-only) {
    &-legend {
      &::before {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: -40px;
        width: 320px;
        height: 1px;
        background-color: @light-gray-5;
      }
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: auto;

    &-legend {
      margin-left: -20px;
    }
  }

  @media (min-width: @desktop-width) {
    &-legend {
      margin-left: -35px;
      padding-bottom: 26px;
    }
  }
}

.review-form__contacts::before {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: @light-gray-4;
  top: 22px;
  right: 0;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    top: 21px;
  }
}

.review-form__contacts::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: @light-gray-4;
  top: 118px;
  right: 0;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    top: 116px;
  }
}

.review-form__radio-control {
  appearance: none;
  margin: 0;
  background-color: @light-gray;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: grid;
  place-content: center;

  &:hover {
    background-color: @light-gray-5;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.review-form__radio-control::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: @gray;
  transform: scale(0);
}

.review-form__radio-control:checked::before {
  transform: scale(1);
}

.review-form__radio-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: grid;
  grid-template-columns: 46px 3fr;
  column-gap: 16px;
  align-items: center;
  margin-bottom: 15px;


  @media (min-width: @tablet-width) {
    margin-left: 36px;
  }

  @media (min-width: @desktop-width) {
    margin: 17px 10px 52px 54px;
  }
}

// Checkbox

.review-form__checkbox {
  appearance: none;
  margin: 0;
  width: 46px;
  height: 46px;
  background-color: @light-gray;
  border-radius: 4px;
  display: grid;
  place-content: center;

  &:hover {
    background-color: @light-gray-5;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.review-form__checkbox::before {
  content: "";
  width: 26px;
  height: 16px;
  background-image: url("../img/icon-checkbox.svg");
  background-repeat: no-repeat;
  transform: scale(0);
}

.review-form__checkbox:checked::before {
  transform: scale(1);
}

.review-form__checkbox-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: grid;
  grid-template-columns: 46px 3fr;
  column-gap: 16px;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 2px;

  @media (min-width: @tablet-width) {
    width: 224px;
    margin: 0 0 16px 2px;

    &:nth-child(odd) {
      grid-column: 2 / 3;
    }
  }

  @media (min-width: @desktop-width) {
    width: 184px;
    margin-right: 22px;
  }
}

.review-form__textarea {
  box-sizing: border-box;
  background-color: @light-gray;
  width: 280px;
  min-height: 150px;
  padding: 16px;
  align-self: center;
  border: none;

  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 648px;
    min-height: 160px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
    margin-bottom: 46px;
  }
}

.review-form__button {
  width: 281px;
  padding: 18px 33px 14px;

  @media (min-width: @tablet-width) {
    width: 324px;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    width: 384px;
    margin-left: 96px;
    margin-bottom: 72px;
  }
}

.review-form__mark {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  opacity: 0.6;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  padding-bottom: 28px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    padding: 20px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 96px;
  }
}
