.tagline {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  background-color: @white;
  padding: 37px 20px 25px;

  @media (min-width: @tablet-width) {
    padding: 66px 165px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 370px 65px;
  }
}

.tagline__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.tagline__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
