.tagline-video {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  background-color: @white;
  padding: 20px 20px 0;
  position: relative;

  &::after {
    content: url("../img/play-button.svg");
    width: 48px;
    height: 54px;
    left: 144px;
    top: 240px;
    position: absolute;

    @media (min-width: @tablet-width) {
      left: 360px;
      top: 470px;
    }

    @media (min-width: @desktop-width) {
      left: 575px;
      top: 470px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0 60px;

    .tagline-video__text {
      padding: 58px 80px 66px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;

    .tagline-video__text {
      padding: 58px 350px 66px;
    }
  }
}

.tagline-video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-bottom: 34px;
    font-size: 30px;
  }
}

.tagline-video__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px 38px;

  @media (min-width: @tablet-width) {
    padding-bottom: 22px;
  }
}

.tagline-video__poster {
  display: block;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 90px;
  }
}

.tagline-video__video {
  display: none;
}
