.tagline-video {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  background-color: @white;
  padding: 20px 20px 0;

  @media (min-width: @tablet-width) {
    padding: 0 60px;

    &__text {
      padding: 58px 80px 66px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;

    &__text {
      padding: 58px 350px 66px;
    }
  }
}

.tagline-video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-bottom: 34px;
    font-size: 30px;
  }
}

.tagline-video__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px 38px;

  @media (min-width: @tablet-width) {
    padding-bottom: 22px;
  }
}

.tagline-video__poster {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 90px;
  }
}

.tagline-video__video {
  display: none;
}
